body .Example_
{
  margin-top: 1vw;
  margin-right: auto;
  margin-bottom: 2vw;
  margin-left: auto;
  padding-top: 0.35vw;
  padding-right: 0.35vw;
  padding-bottom: 0.35vw;
  padding-left: 0.35vw;
  width: 55vw;
  font-family: monospace;
  font-size: 1.25vw;
  border-radius: 1vw 1vw 1vw 1vw;
  border: 0.15vw solid rgba(135, 100, 100, 0.65);
}

.Example_ h1
{
  font-family: sans-serif;
  font-size: 1.75vw;
}

.Example_#ex_simple_table
{
  width: 85vw;
}

#ex_simple_table table
{
  border: none;
  border-spacing: 0px;
}

#ex_simple_table table tr:nth-child(even)
{
  background-color: rgba(228, 190, 248, 0.45);
}

#ex_simple_table table tr td
{
  padding: 4px 4px 4px 4px;
}

@media(prefers-color-scheme: 'dark')
{
  body
  {
    background-color: rgba(180, 55, 170, 0.45);
  }
}

@media(prefers-dark-interface)
{
  body
  {
    background-color: rgba(180, 55, 170, 0.45);
  }
}

@media(prefers-color-scheme: 'light')
{
  body
  {
    background-color: white;
  }
}
